
<div class="grid">
  <div class="grid-row grid-row-sm grid-row-title">
    <div class="cell form--cancel">
      <form action="/categories" method="GET">
        <input type="submit" value="Back" />
      </form>
    </div>
    <div class="cell cell--title">
      View Category
    </div>
    <div class="cell form--edit f05">
      <form action="/categories/<%= @category.id %>/edit" method="GET">
        <% if @category.editable? then %>
          <input type="submit" value="Edit Category" />
        <% end %>
      </form>
    </div>
  </div>

  <div class="grid-row grid-row-sm">
    <div class="cell form--field cell--backg-1">
      Description
    </div>
    <div class="cell form--value cell--backg-1 f15">
      <%= @category.description %>
    </div>
  </div>

  <div class="grid-row grid-row-sm">
    <div class="cell form--field cell--backg-2">
      Monthly Budget (£)
    </div>
    <div class="cell form--value cell--backg-2 f15">
      <%= @category.monthly_budget %>
    </div>
  </div>

  <% unless @category.deletable? then %>
    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-1">Number of transactions</div>
      <div class="cell form--value cell--backg-1 f15"><%= @category.transaction_count %></div>
    </div>
  <% end %>

  <% if @category.deletable? then %>
    <div class="grid-row grid-row-sm">
      <div class="cell form--final cell--backg-1">
        <form action="/categories/<%= @category.id %>/delete" method="POST">
          <input type="submit" value="Delete" />
        </form>
      </div>
    </div>
  <% end %>

</div>
