
<div class="grid">
  <div class="grid-row grid-row-sm grid-row-title">
    <div class="cell form--cancel f05">
      <form action="/transactions/<%= @transaction.id %>" method="GET">
        <input type="submit" value="Cancel" />
      </form>
    </div>
    <div class="cell cell--title f20">
      Edit Transaction
    </div>
  </div>

  <form action="/transactions/<%= @transaction.id %>" method="POST">

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-1">
        <label for="category-select">Category</label>
      </div>
      <div class="cell form--value cell--backg-1 f15">
        <select id="category-select" name="category_id">
          <% for category in @categories do %>
            <option value="<%= category.id %>"><%= category.description %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-2">
        <label for="description-field">Description</label>
      </div>
      <div class="cell form--value cell--backg-2 f15">
        <input value="<%= @transaction.description %>" type="text" name="description" id="description-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-1">
        <label for="value-field">Value (£)</label>
      </div>
      <div class="cell form--value cell--backg-1 f15">
        <input value="<%= @transaction.value %>" type="number" min="0" step="0.01" name="value" id="value-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--field cell--backg-2">
        <label for="date-field">Date (DD/MM/YYYY)</label>
      </div>
      <div class="cell form--value cell--backg-2 f15">
        <input value="<%= @transaction.the_date %>" type="date" name="the_date" id="date-field" />
      </div>
    </div>

    <div class="grid-row grid-row-sm">
      <div class="cell form--final cell--backg-1">
        <input type="submit" value="Update Transaction" />
      </div>
    </div>

  </form>
</div>
